body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* home page design */
/* Header Started */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    margin-bottom: 0%;
    padding-bottom: 0%;
}
header::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
header h1{
    margin-left: 2%;
    letter-spacing: .5em;
}
header h1 a{
    text-decoration: none;
    color: black;
}
header nav{
    width: 40%;
    margin-right: 2%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    list-style: none;
} 
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
header nav ul li a:hover{
    color: rgb(120, 163, 33);
    transition: all ease-out .4s;
}
.current{
    color: chocolate;
}
/* Header Over */

/* Main Content started */
.main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main::before{
    content:"";
    background: url('image/cloud.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0%;
}
.box{
    width: 60%;
    align-items: center;
    justify-content: center;
}
.line1{
    font-size: 5rem;
    text-align: center;
    letter-spacing: 2px;
}
.line2{
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 5px;
}
/* Vision section started */
.vision{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
}
.vision-box{
    width: 30%;
    color: white;
    margin-left: 10%;
    line-height: 2;
    border: white solid;
    text-align: justify;
    padding: 2em 4em;
    border-radius: 1em;
}
.vision-photo{
    width: 60%;
}
/* vision section over */

/* services section started */
.services{
    width: 30%;
    margin-top: 5.3em;
    margin-left: 10%;
    border-left: double rgb(46, 44, 44) 10px;
    padding-left: 3em;
}
.autodrive{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.autodrive-box{
    width: 30%;
    color: black;
    margin-left: 10%;
    line-height: 2;
    border: black solid;
    text-align: justify;
    padding: 2em 4em;
    border-radius: 1em;
}
.autodrive-photo{
    width: 45%;
}
.rtm-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rtm-info-box{
    width: 30%;
    color: black;
    margin-right: 10%;
    line-height: 2;
    border: black solid;
    text-align: justify;
    padding: 2em 4em;
    border-radius: 1em;
}
.rtm-info-photo{
    width: 50%;
}
.preception-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.preception-info-box{
    width: 20%;
    color: black;
    margin-left: 10%;
    line-height: 2;
    border: black solid;
    text-align: justify;
    padding: 2em 4em;
    border-radius: 1em;
}
.preception-info-photo{
    width: 50%;
}
.why-automoto{
    background: url('image/robots-car-plant_199107-90.jpg') no-repeat center center/cover;
    padding: 5em;
}
.why-automoto-box{
    width: 35%;
    background-color: black;
    color: white;
    padding: 5em 3em;    
    line-height: 2;
    text-align: justify;
    border-radius: 1em;
}
.why-automoto-border{
    border-left: solid white;
    padding: 0em 3em;
}
/* services section over */

#normal-spaceline{
    line-height: 1.4em;
}

/* read more button design started */
.btn{
    font-size: 1.2rem;
    font-weight: 100;
    border: black solid 1px;
    padding: .5em 1em;
    border-radius: .4em 0em 0em .4em;
    cursor: pointer;
    background-color: white;
}
.arrowimg{
    width: 2%;
    border: black solid 1px;
    border-left: 0px;
    padding: .35em .7em;
    border-radius: 0em .5em .5em 0em;
    position: absolute;
}
.btn:hover{
    color: white;
    background-color: black;
    transition: all .7s;
}
.btn2{
    font-size: 1.2rem;
    font-weight: 100;
    border: white solid 1px;
    padding: .5em 1em;
    border-radius: .4em 0em 0em .4em;
    cursor: pointer;
    background-color: black ;
    color: white;
}
.arrowimg2{
    width: 2%;
    border: white solid 1px;
    border-left: 0px;
    padding: .35em .7em;
    border-radius: 0em .5em .5em 0em;
    position: absolute;
}
.btn2:hover{
    color: black;
    background-color: white;
    transition: all .7s;
}
/* read more button design over */
/* home page design over */

/* technology page design started */
.main-container-tech{
    align-items: center;
    justify-content: center;
}
.main-heading{
    width: 60%;
    margin:auto;
    padding: 1em 0em;
    text-align: center;
    font-size: 4rem;
    letter-spacing: .1em;
}
.main-img{
    position: relative;
    top: -20em;
    width: 100%;
    z-index: -1;
}
.para-tech{
    width: 90%;
    margin: auto;
    position: relative;
    top: -25em;
    height: 5em;
}
.para-tech-box{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(92, 91, 91);
}
#heading-tech{
    color: black;
}
.theautomoto-car-tech{
    background-color: black;
    color: white;
}
.theautomoto-car-tech-box{
    display: flex;
    font-size: 2rem;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
}
.border-design-tech{
    width: 30%;
    border-left: white solid 2px;
    padding-left: 2em;
}
.next-to-automoto{
    width: 90%;
    margin: auto;
    padding-bottom: 10em;
}
.next-to-automoto-box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
}
.justify-text-tech1{
    text-align: justify;
    width: 55%;
}
.justify-text-tech2{
    text-align: justify;
    width: 32%;
}
.heading-spacing-tech{
    letter-spacing: .1em;
}
.connect-app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0em auto;
    padding: 0em;
    width: 90%;
}
.connect-app{
    width: 80%;
    margin-left: 10%;
}
.connect-app p{
    font-size: 1.5rem;
}
.connect-app-photo{
    width: 50em;
}
.border-design-tech2{
    border-left: solid black;
    padding-left: 3em;
}
/* technology page design over */

/* about page design started */
.about-box{
    justify-content: space-between;
    width: 90%;
    margin: 0em auto 6em auto;
}
.main-heading-about{
    font-size: 4rem;
    text-align: center;
}
.about-para{
    font-size: 1.5rem;
    text-align: justify;
}
.mission-about{
    display: flex;
    width: 90%;
    margin: 5em auto;
    justify-content: space-around;
    padding-left: 3em;
    align-items: center;
}
.mission-about-para-box{
    width: 40%;
    padding-left: 5em;
    border-left: solid black;
}
.mission-about-para{
    font-size: 1.2rem;
}
.mission-about-img{
    width: 25em;
    border-radius: 2em;
    box-shadow: 1px 1px 100px 15px;
}
.news-about{
    background-color: black;
    color: white;
    padding: 5em 0em;
}
.news-box-about{
    width: 90%;
    border-left: white solid;
    padding-left: 3em;
    margin: 4em 6em 0em 6em;
}
.news-img{
    display: flex;
    margin: 8em auto 5em auto;
    align-items: center;
    justify-content: space-evenly;
}
/* about page design over */

/* career page design started */
.heading-box-career{
    width: 60%;
    margin: 7em auto 10em;
    align-items: center;
    text-align: center;
    line-height: 2.5em;
}
.heading-career{
    font-size: 3.5rem;
    letter-spacing: .1em;
}
.heading2-career{
    font-size: 1.5rem;
}
.location-carrer{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.location-border-carrer{
    border-left: solid black;
    padding-left: 3em;
}
.locations-img-carrer{
    width: 60%;
}
.job-career{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
}
.job-box-career{
    margin: 5em 5em 0em 5em;
    width: 30%;
    border-left: white solid;
    padding-left: 4em;
}
.job-rols-career{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.job-titles-career{
    font-size: 1.5rem;
    justify-content: space-evenly;
}
.job-rols-border{
    border: wheat solid 2px;
    border-radius: 10px;
    margin: 2em;
    padding: 2em;
    text-align: center;
}
#change{
    background-color: white;
    color: black;
    border: white;
}
.apply-btn-career{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: .5em 1em;
    border: solid white 1px;
    border-radius: .3em 0em 0em .3em;
    cursor: pointer;
}
.apply-btn-career:hover{
    background-color: white;
    color: black;
    transition: all .7s ease-in-out;
}
.apply-img-career{
    width: 1.1rem;
    border: solid white 1px;
    border-left: 0px;
    padding: .53em;
    border-radius: 0em .3em .3em 0em;
    position: absolute;
}
.submit-btn-career{
    background-color: white;
    color: black;
    font-size: 1em;
    padding: .5em 1em;
    border: solid black 1px;
    border-radius: .3em 0em 0em .3em;
    cursor: pointer;
}
.submit-btn-career:hover{
    background-color: black;
    color: white;
    transition: all .7s ease-in-out;
}
.submit-img-career{
    width: 1.19%;
    border: solid black 1px;
    border-left: 0px;
    padding: .53em;
    border-radius: 0em .3em .3em 0em;
    position: absolute;
}
/* career page design over */

/* submit form for job design started */
/* contact us page design started */
/* same design for submit form of job and contact us form */
.heading-join-us{
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: .1em;
}
.heading-join-us2, .heading-contact{
    font-size: 2rem;
    letter-spacing: .1em;
    text-align: center;
}
.box{
    margin: auto;
    padding: 7em;
}
.box-contact{
    margin: auto;
    width: 45%;
    padding: 3em;
    z-index: 1;
}
.text-box{
    margin: 30px;
}
.label{
    padding: 10px 0px;
}
.form-input{
    font-size: 1.3rem;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid black;
    border-radius: 7px;
}
.form-input:hover, .form-input:focus{
    background-color: rgb(209, 208, 208);
}
select{
    width: 100%;
    font-size: 1rem;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 7px;
}
textarea{
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 7px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    width: 100%;
}
textarea:hover, textarea:focus{
    background-color: rgb(209, 208, 208);
}
.form-input-btn{
    font-size: 1rem;
    padding: .5em 1.5em;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 7px;
    margin: 0px 10px;
}
.form-input-btn:hover{
    background-color: white;
    color: black;
    transition: all ease-in-out .7s;
}
.i-agree{
    text-align: center;
    padding: 3%;
}
.center-btn{
    text-align: center;    
}
/* contact us page design over */
/* submit form for job design over */

/* footer section started */
.hr{
    size: 5px;
    background-color: black;
}
.main-container{
    display: flex;
    color: rgb(71, 63, 63);
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 1.5em;
    justify-content: space-around;
}
.container1{
    display: flex;
    align-items: center;
}
footer h1{
    letter-spacing: .5em;
    padding: 1.5em;
    margin-left: 5.5em;
}
footer h1 a{
    text-decoration: none;
    color: black;
}
footer hr{
    width: 80%;
}
footer ul li{
    line-height: 2em;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: rgb(71, 63, 63);
}
footer ul li a:hover{
    text-decoration: underline;
}
.box2 ul{
    list-style: none;
}
.box2 ul li{
    line-height: 3.7em;
}
.container2 .heading{
    font-size: x-large;
}
.email{
    border-radius: .5em;
    font-size: large;
    padding: .5em  1em;
    border: rgb(73, 65, 65) solid 2px;
}
.email:focus{
    background-color: rgb(206, 199, 199);
}
.email:hover{
    background-color: rgb(206, 199, 199);
    border: black solid 2px;
}
.subscribe{
    font-size: large;
    padding: .5em  1.3em;
    border-radius: .5em;
    color: white;
    background-color: black;
    position: relative;
    left: -1.5em;
    top: .00007em;
    border: black solid 2px;
}
.subscribe:hover{
    color: black;
    background-color: white;
    transition: all ease-out .5s;
    border: black solid 2px;
}
.lastline{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lastline ul{
    display: flex;
}
.socialimg{
    width: 1em;
    padding: 1em;
}
.socialimg:hover{
    position: relative;
    top: -10%;
}